{% extends "diskapp.html.twig" %}

{% block custom_styles %}{% endblock %}

{% block main %}
<p class=""><em>Mise à jour : 07 avril 2021</em></p>
<p class="text-justify">
    Le présent service en ligne permet à l'utilisateur de consulter librement les contenus publiés, et d'y contribuer sous réserve d'une <a href="/register" target="blank">inscription</a> au service et d'une connexion autorisée.<br>
    Lors de l'inscription de l'utilisateur, son nom d'utilisateur, son mot de passe, son adresse e-mail et la date de son inscription sont collectés. Lors des connexions ultérieures, la date est également collectée. Ces informations sont nécessaires au fonctionnement normal et sécurisé du présent service.<br>
    Depuis son espace personnel, l'utilisateur inscrit peut modifier son nom d'utilisateur ainsi que son mot de passe. Il lui est également possible de supprimer son compte grâce au bouton dédié (toutes les contributions de l'utilisateur seront alors également supprimées).<br>
    Des informations sont disponibles sur la page <a href="/privacy">Collecte et traitement des données</a>.<br>

    <h2 class="h4 mt-3">Limites d'utilisation</h2>
    Le présent service autorise l'ajout d'éléments (disques, artistes, styles, labels) dans la base de données. Il est configuré de façon à ce que les ajouts soient limités à 10 par session et par utilisateur.<br>
    <h2 class="h4 mt-3">Modération</h2>
    Le gestionnaire de ce service se réserve le droit de supprimer sans préavis tout contenu jugé non conforme à l'utilisation du service. Toute action illicite d'un utilisateur expose ce dernier à la mise sous séquestre de son compte et de poursuites devant les juridictions compétentes.<br>
    <h2 class="h4 mt-3">Contact</h2>
    Pour toute communication relative à ce service en ligne, merci de vous adresser par e-mail à : quentin@quentin-g.com

</p>

{% endblock %}
    
{% block custom_scripts %}{% endblock %}
