{% extends "diskapp.html.twig" %}

{% block custom_styles %}{% endblock %}

{% block main %}
<div class="text-center">
    <h2 class="h4">Service web hébergé par :</h2>
    <div class="border border-dark p-3 w-75 m-auto rounded">
        <b>o2switch</b><br>
        222-224 Boulevard Gustave Flaubert<br>
        63000 Clermont-Ferrand FRANCE<br>
        Téléphone : 04 44 44 60 40
    </div>

    <a href="/privacy">Consulter la politique de collecte et de traitement des données</a>
</div>

{% endblock %}
    
{% block custom_scripts %}{% endblock %}
