
###> symfony/framework-bundle ###
/config/secrets/prod/prod.decrypt.private.php

###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###

npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> symfony/security_checker ###
/config/packages/security_checker.yaml
###< symfony/security_checker ###

###> symfony/security ###
/config/packages/security.yaml
###< symfony/security ###

###> symfony/mailer ###
/config/packages/mailer.yaml
###< symfony/mailer ###
