{% extends 'diskapp.html.twig' %}

{% block main %}
   <p>
        Un message de vérification vous a été envoyé par e-mail : vous avez 1 heure pour cliquer sur le lien qu'il contient afin de confirmer votre inscription.
    </p>
{% endblock %}
