<h1>Bonjour,</h1>

<p>
    Une demande d'inscription a été faite sur <a target="blank" href="https://www.diskapp.quentin-g.com">https://www.diskapp.quentin-g.com</a>
    Merci de confirmer votre adresse email en cliquant sur le lien suivant :<br>
    <a href="{{ signedUrl|raw }}">Confirmer mon Email</a>.
    Ce lien a un délai d'expiration de {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Bien cordialement,
    <a href="https://www.quentin-g.com" target="blank">Quentin G</a>
</p>
