{% extends "diskapp.html.twig" %}

{% block custom_styles %}{% endblock %}

{% block main %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %} 
    <p>Saisissez votre adresse email pour recevoir un lien de réinitialisation du mot de passe. </p>
    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
       

        <button class="btn btn-primary">Recevoir le lien par email</button>
    {{ form_end(requestForm) }}
{% endblock %}