@media (max-width: 767px) { 

    h1, span.h1 {
        height:2rem;
    }

    h2{
        font-size:1.2rem;
    }
    .burgerMenu {
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
      }
    #navmenu {
        position:absolute;
        right:0;
        top:60px;
        min-height:calc(100vh - 60px);
        z-index:3000;
    }
    
    #navburger {
        cursor: pointer;
    }
    
#disk_img{
    z-index:-1 !important;
    overflow:hidden;
}
    #mobileHeader {
        height : 60px;
    }
 }