{% extends 'diskapp.html.twig' %}

{% block main %}
   <p>
        Les ajouts dans la base de données sont limités à 10 par session, pour chaque utilisateur.br>
        Reconnectez-vous demain pour ajouter de nouveaux éléments !<br>
        <a href="/" class="btn btn-light font-weight-bold my-3">Retour à l'accueil</a>
    </p>
{% endblock %}
